@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playpen+Sans&display=swap');


body, html {
  height: 100%;
  margin: 0;
  background-color: #B27881;
}

.nav {
  height: 3.5rem;
  background-color: #777E7A;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.nav a {
  float: left;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  width: 7.5%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.hero {
  background-image: url("https://4kwallpapers.com/images/wallpapers/leaf-background-green-leaves-botanical-low-light-1680x1050-5851.jpg");
  height: 70%;
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portrait-container {
  position: fixed;
  right: 0;
  top: 0;
}

.image-container img {
  width: 33vw;
  padding: 7rem;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Playpen Sans', cursive;
}

h1 {
  position: absolute;
  top: 175px;
}

.hero {
  color: #fff;
}

.row {
  display: flex;
}
